@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: DancingScript;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: Aladin;
    src: url(../fonts/Aladin-Regular.ttf);
}

html {
    background-image: url(../img/la_coupole.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
body {
    background-color: hsla(0, 0%, 0%, 0.8);
    min-height: 100vh;
    font-family: oswald;
    color: white;
}
textarea, select {
    border: 2px solid #CC0066;
    
}
label {
    color: #CCCC99;
    text-decoration: underline;

}
h1 {
    border-bottom: 5px solid #0099cc;
    margin-inline: 30%;
}
.text-presentation{
    color: #cccc99;
    padding: 5%;
}
h2 {
    background-color: #CC0066;
    
}
.horaires p {
    font-size: 16px;
}
.logo{
    font-family: aladin;
    background-color: #CC0066;
}
li{
    list-style: none;
}
#contact i {
    color: #CCCC99;
    font-size: 2rem;
}
#contact i:hover {
    color: #CC0066;
}
h3 {
    color: #cccc99;
    text-decoration: underline;
    font-family: dancingscript;
    padding-block: 24px;
}
.carousel img{
    height: 50vh;
}
@media screen and (min-width : 768px) {
    body{
        font-size: larger;
    }  
}
@media screen and (min-width : 768px) and (orientation: landscape) {
    .carousel img{
        height: 80vh;
    }  
}
.flex-photo {
    display: flex;
    column-gap: 20px;
    padding-bottom: 48px;
    white-space: nowrap;
 }
 .flex-photo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 10px solid white;
    
 }
 .flex-photo figure{
    background-color: white;
    flex: 1;
}
.flex-photo figcaption{
   font-family: dancingscript;
   color: black;
   text-align: center;
   padding-bottom: 16px;
   overflow: hidden;
   text-overflow: ellipsis;
   padding-left: 20px;
   width: 149px;
    white-space: nowrap;
}

.grid-photo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 10px solid white;
}
.grid-photo figure{
    background-color: white;
}
.grid-photo figcaption{
    font-family: dancingscript;
    color: black;
    text-align: center;
    padding-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    white-space: nowrap;
    width: 150px;
    height: 70%;
}

.grid-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card {
    text-align: center;
}
.grid-box {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 94%;
}
.box-v1 {
    background-color: white;
}

.box-v2 {
    background-color: #cc0066
}

.box-v3 {
    background-color: #0099cc;
}
.box-v4{
    background-color: #cccc99;
}
iframe {
    width: 100% ;
    height: 50vh;
}
@media screen and (min-width : 992px) and (orientation: landscape) {
    iframe {
        height: 85vh;
    }  
}

@media screen and (max-width : 768px) {
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: #212529;
        z-index: 100;
        }
}
